[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = git://github.com/huyz/dircolors-solarized.git
[submodule "iTerm2-Color-Schemes"]
	path = iTerm2-Color-Schemes
	url = git://github.com/mbadolato/iTerm2-Color-Schemes.git
[submodule "prezto.symlink"]
	path = prezto.symlink
	url = git@github.com:rdlugosz/prezto.git
