"*":
  "atom-beautify":
    _analyticsUserId: "6ddec82d-42b4-4264-8a8c-d4ca49aad43a"
  core:
    projectHome: "/Users/ryan/workspace"
    themes: [
      "one-dark-ui"
      "oceanic-next"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "Menlo"
    fontSize: 13
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "75370157-1133-97db-728f-5aee91d582ff"
  "git-diff":
    showIconsInEditorGutter: true
  linter: {}
  metrics:
    userId: "eb6b1261e717d006f4bed64b8ad7e2d971c694cc"
  pigments: {}
  "release-notes":
    viewedVersion: "0.95.0"
  "tree-view":
    hideIgnoredNames: true
  "unity-ui":
    colorStatusIndicatorsInTreeView: true
    showIcons: true
  "vim-mode":
    useSmartcaseForSearch: true
    wrapLeftRightMotion: true
  welcome:
    showOnStartup: false
