"*":
  "exception-reporting":
    userId: "75370157-1133-97db-728f-5aee91d582ff"
  "release-notes":
    viewedVersion: "0.95.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "eb6b1261e717d006f4bed64b8ad7e2d971c694cc"
  core:
    themes: [
      "unity-ui"
      "zenburn"
    ]
    projectHome: "/Users/ryan/workspace"
  "git-diff":
    showIconsInEditorGutter: true
  editor:
    invisibles: {}
    scrollPastEnd: true
    fontFamily: "Menlo"
  linter: {}
  "tree-view": {}
  "vim-mode":
    useSmartcaseForSearch: true
    wrapLeftRightMotion: true
  "unity-ui":
    showIcons: true
    colorStatusIndicatorsInTreeView: true
  "atom-beautify":
    _analyticsUserId: "6ddec82d-42b4-4264-8a8c-d4ca49aad43a"
