"*":
  "activate-power-mode":
    autoToggle: false
    comboMode:
      enabled: false
  "atom-beautify":
    erb:
      default_beautifier: "HTML Beautifier"
      indent_size: 2
      wrap_line_length: 120
    general:
      _analyticsUserId: "6ddec82d-42b4-4264-8a8c-d4ca49aad43a"
    html:
      indent_size: 2
      wrap_line_length: 120
    js:
      wrap_line_length: 80
  core:
    packagesWithKeymapsDisabled: [
      "activate-power-mode"
    ]
    projectHome: "/Users/ryan/workspace"
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "oceanic-next"
    ]
    titleBar: "custom"
  editor:
    backUpBeforeSaving: true
    fontFamily: "Menlo"
    fontSize: 12
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "75370157-1133-97db-728f-5aee91d582ff"
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus":
    general:
      _analyticsUserId: "356c709b-01c3-46f0-9bf4-51935544bd35"
  linter: {}
  "linter-ui-default":
    showPanel: true
  metrics:
    userId: "eb6b1261e717d006f4bed64b8ad7e2d971c694cc"
  pigments: {}
  "release-notes":
    viewedVersion: "0.95.0"
  "tree-view":
    hideIgnoredNames: true
  "unity-ui":
    colorStatusIndicatorsInTreeView: true
    showIcons: true
  "vim-mode":
    useSmartcaseForSearch: true
    wrapLeftRightMotion: true
  "vim-mode-plus":
    incrementalSearch: true
    useSmartcaseForSearch: true
  "vim-surround":
    surroundCommand: "S"
  welcome:
    showOnStartup: false
