# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# '.workspace':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# ON EXITING VIM INSERT MODE...
# This approach makes you wait if you have 'k' at the end of a line
# 'atom-text-editor.vim-mode.insert-mode':
#   'k j': 'vim-mode:activate-normal-mode'
#
# This way a 'k' is immediately displayed and is subsequently removed
# if you type a 'j'.
# 'atom-text-editor.vim-mode.insert-mode':
#   'j': 'exit-insert-mode-if-preceded-by-k'

'atom-text-editor.vim-mode.insert-mode':
  'j': 'activate-normal-mode-if-preceded-by-k'

'atom-workspace':
  'ctrl-i':     'cursor-history:next'
  'ctrl-o':     'cursor-history:prev'

'atom-text-editor.vim-mode-plus.normal-mode':
  'g f':      'open-this:here'
  'ctrl-w f': 'open-this:split-down'
  'ctrl-w F': 'open-this:split-right'
  
'atom-text-editor.vim-mode-plus.insert-mode':
  'k j': 'vim-mode-plus:activate-normal-mode' # kj to escape
